/* Reset & Base Styles */
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    padding-bottom: 60px;
}

p {
    text-align: center;
}

h2 {
    text-align: center;
    color: #004aad;
}
